node_modules
*.log
.venv
**/.venv
__pycache__
**/__pycache__
*.pyc
.cache
**/.cache
dist
build
.env
nul
ssl/
*.wav
*.egg-info/
*.backup
client/cert.pem
client/key.pem
test*.py
test*.txt
package-lock.json
.claude/
.agent/
